*{margin: 0; padding: 0;}

li.nav-item {
    padding: 0;
    margin: 0 17px;
}


a.nav-link {
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 18px;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: white;
} 
img {
    padding: 25px;
    margin: 0 -20px;
}
@media (max-width: 576px) {
	*{}

img {
    padding: 0 147px;
}

body {}
}